/* root stores variables and sets base font size value */
:root {
    --text:#F2EDD7FF;
    --bgc1:#333131;
    --bgc2:#964F4CFF;
    --bcg3:#6b3736;
    --bcg4:sienna;
    --bcg5:#567572FF;
    --transp:#ffffff00;
    --borderblack: 2px solid black;
    --shadow: 0px 0px 10px black, 0px 0px 10px var(--bcg3);
    --shadow2: 0px 0px 20px 3px;
    font-size: 16px;
}

/* Universal selector that affects all elements */
* {
    box-sizing: border-box;
    font-family: Garamond, serif;
    color: var(--text);
}

/* Adds smooth scrolling on the webpage instead of one that is staticky */
html {
    scroll-behavior: smooth;
}

/* body::-webkit-scrollbar adjusts the width of the scrollbar on the side of the screen and makes the track transparent. Thumb changes the color of the tab. */
body::-webkit-scrollbar {
    width: .3rem;
    background: transparent;
}

body::-webkit-scrollbar-thumb {
    background: var(--bcg3);
    border-radius: 5px;
}

body::-webkit-scrollbar-track {
    background: var(--bgc1);
}

/* lines 43-138 are for the navbar. nav is set to z-index of 100 to make sure it is always on top*/
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0% 5% 0% 2%;
    background: var(--bgc1);
    height: 4rem;
    position: fixed;
    width: 100%;
    border-bottom: 5px solid var(--bcg3);
    z-index: 100;
}

.navbar img {
    width: 5rem;
}

nav menu {
    text-shadow: var(--shadow);
}

li {
    display: inline;
    list-style:none;
}

#navlinks li {
    position: relative;
    bottom: 8px;
    padding-left: 3rem;
}

a {
    color: var(--text);
    text-decoration: none;
}
/* twitter and linked in logo */
#navlogos {
    padding: 2rem;
}

#navlogos li {
    padding: .5rem;
}

.logo {
    position: relative;
    max-width: 1.8rem;
    max-height: 1.8rem;
}

/* lines 95-138 .dropdown makes a logo appear which when hovered over, will bring a dropdown menu for the same nav links */
.dropdown img {
    display: none;
    max-width: 1.8rem;
    max-height: 1.8rem;
    position: absolute;
    bottom:15px;
    right: 40px;
}
/* hides dropdown links until dropdown img gets hovered over. */
.dropdownlinks {
    display: none;
}

/* Small screen media query */
@media screen and (max-width:650px) {
    #navlinks, #navlogos {
        display: none;
    }
    .dropdown img {
        display: block
    }
} 
/* adds lines between dropdown options */
.dropdownlinks li:not(last-child) {
    border-bottom: var(--borderblack);
    padding-bottom: 5px;

}
/* adds a dropdown menu upon hover that contains nav links */
.dropdown:hover .dropdownlinks{
    display:flex;
    position: absolute;
    right: 0px;
    bottom: -100px;
    min-width: 40px;
    min-height: 100%;
    border: var(--borderblack);
    background-color: var(--bcg3);
    padding: 12px;
    color: #fff;
    font-size: 1.5rem;
    z-index: 1;
    flex-direction:column;
}

/* This is the main image at the back of the page. This adds a parallax effect on the page as well. z index is set to -1 to make sure it is always at the bottom.*/
.hero-parallax {
    overflow: hidden;
    padding-bottom: 65%;
}

.hero-parallax img {
    position: fixed;
    width: 100%;
    z-index: -1;
}

/* About Me css styles lines 153 - 192 */
#aboutme {
    display: flex;
    flex-direction: column;
    position: relative;
    box-sizing: border-box;
    text-align: center;
    z-index: 3;
    text-shadow: var(--shadow);
    transform: translateY(-100px);
    margin-bottom: -100px;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 1.5rem;
}
/* adds a transparent gradient effect on "About Me"*/
#aboutme h2 {
    padding: 40px 15px 20px 15px;
    background: linear-gradient(var(--transp),80%,var(--bgc2));
}

#aboutDesc {
    display: inline-flex;
    align-items: center;
    background: var(--bgc2);
}

#aboutDesc img {
    margin: 10px;
    border-radius: 100%;
    box-shadow: var(--shadow);
}

#aboutme h3 {
    padding: 0px 10px 10px 10px;
} 

/*  Projects css styles lines 195 - 238 */
#projects {
    background: var(--text);
    text-shadow: 0px 0px 10px rgb(124, 121, 108);
}
/* makes project images into columns rows, 1 img large and 2 img small */
.projects {
    display: inline-flex;
}
/* adds a blue filter on the project images */
.project1 a img {
    border-radius: 5%;
    z-index: 7;
    width: 80%;
    height:80%;
    margin: 12% 0% 10% 10%;
    border: 2px solid var(--bgc1);
    filter: blur(8px);
}

#projects h2 {
    color: var(--bgc1);
    padding: 2rem 0 3rem 2rem;
    text-decoration: underline var(--bgc1);
}
#projects h3 {
    color: var(--bgc1);
    position:relative;
    z-index: 11;
    margin-left: 40px;
    transform: translatey(30px);
    font-size: 2.3rem;
}

.projectBox a img {
    width: 70%;
    margin: 10%;
    border-radius: 5%;
    filter: blur(8px);
}
/* on hover, it removes the blue effect on project images */
a img:hover {
    filter: none;
    transition: filter .5s;
}

/* Contact css styles lines 241 - 255*/
#contact {
    background: var(--bcg5);
    text-shadow: var(--shadow);
}

#contact {
    font-size: 1.2rem;
    padding: .5rem 2rem .5rem 2rem;
    display: flex;
    justify-content: space-between;
}

#contact span:first-child {
    font-size: 1.4rem;
}

/* Footer css style lines 258 - 263*/
footer {
    background: var(--bgc1);
    text-align: center;
    text-shadow: var(--shadow);
    padding: 1%;
}