:root {
    --text:#F2EDD7FF;
    --bgc1:rgb(51, 49, 49);
    --bgc2:#964F4CFF;
    --bcg3:rgb(107, 55, 54);
    --bcg4:#567572FF;
    --shadow: 0px 0px 10px black, 0px 0px 10px var(--bcg3);
    font-size: 16px;
}

* {
    box-sizing: border-box;
    font-family: Garamond, serif;
    color: var(--text);
}

body {
    width: 100%;
    margin: 0;
    padding: 0;
}

/* body::-webkit-scrollbar adjusts the width of the scrollbar on the side of the screen and makes the track transparent. Thumb changes the color of the tab. */

body::-webkit-scrollbar {
    width: .3rem;
    background: transparent;
}

body::-webkit-scrollbar-thumb {
    background: var(--bcg3);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0% 5% 0% 2%;
    background: var(--bgc1);
    height: 4rem;
    position: fixed;
    width: 100%;
}

h1 {
    border: 1px solid black;
}

nav menu {
    text-shadow: var(--shadow);
}

li {
    display: inline;
    list-style:none;
}

#navlinks li {
    position: relative;
    bottom: 8px;
    padding-left: 3rem;
}

a {
    color: var(--text);
    text-decoration: none;
}

#navlogos {
    padding: 2rem;
}


#navlogos li {
    padding: .5rem;
}

.logo {
    position: relative;
    max-width: 1.8rem;
    max-height: 1.8rem;
    /* padding-left: 10px; */
}

.dropdown img {
    display: none;
    max-width: 1.8rem;
    max-height: 1.8rem;
    position: absolute;
    bottom:18px;
    right: 40px;
}

.dropdownlinks {
    display: none;
}

/* Small screen media query */

@media screen and (max-width:605px) {
    #navlinks, #navlogos {
        display: none;
    }
    .dropdown img {
        display: block
    }
} 

.dropdown:hover .dropdownlinks{
    display: block;
    /* height: 400px; */
}

/* .dropdown:hover nav{
    height: 400px;
} */