:root {
    --text:#F2EDD7FF;
    --bgc1:#333131;
    --bgc2:#964F4CFF;
    --bcg3:#6b3736;
    --bcg4:sienna;
    --bcg5:#567572FF;
    --transp:#ffffff00;
    --shadow: 0px 0px 10px black, 0px 0px 10px var(--bcg3);
    font-size: 16px;
}

* {
    box-sizing: border-box;
    font-family: Garamond, serif;
    color: var(--text);
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    width: 100%;

}

/* body::-webkit-scrollbar adjusts the width of the scrollbar on the side of the screen and makes the track transparent. Thumb changes the color of the tab. */

body::-webkit-scrollbar {
    width: .3rem;
    background: transparent;
}

body::-webkit-scrollbar-thumb {
    background: var(--bcg3);
    border-radius: 5px;
}

body::-webkit-scrollbar-track {
    background: var(--bgc1);
}

/* lines 36-112 are for the navbar. */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0% 5% 0% 2%;
    background: var(--bgc1);
    height: 4rem;
    position: fixed;
    width: 100%;
    border-bottom: 5px solid var(--bcg3);
    z-index: 1;
}

.navbar img {
    width: 5rem;
}

nav menu {
    text-shadow: var(--shadow);
}

li {
    display: inline;
    list-style:none;
}

#navlinks li {
    position: relative;
    bottom: 8px;
    padding-left: 3rem;
}

a {
    color: var(--text);
    text-decoration: none;
}

#navlogos {
    padding: 2rem;
}

#navlogos li {
    padding: .5rem;
}

.logo {
    position: relative;
    max-width: 1.8rem;
    max-height: 1.8rem;
}

.dropdown img {
    display: none;
    max-width: 1.8rem;
    max-height: 1.8rem;
    position: absolute;
    bottom:15px;
    right: 40px;
}

.dropdownlinks {
    display: none;
}

/* Small screen media query */

@media screen and (max-width:650px) {
    #navlinks, #navlogos {
        display: none;
    }
    .dropdown img {
        display: block
    }
} 

.dropdown:hover .dropdownlinks{
    display: block;
}

/* This is the main image at the back of the page */

.hero img {
    position: static;
    width: 100%;
    z-index: 2;
}

/* About Me css styles */

#aboutme {
    display: flex;
    flex-direction: column;
    position: relative;
    box-sizing: border-box;
    text-align: center;
    background:var(--bgc2);
    z-index: 3;
    /* background: linear-gradient(var(--transp), var(--bgc2)); */
    /* bottom: 50px; */
}

#aboutme h2 {
    text-shadow: var(--shadow);
    margin: 10px 0px 0px 0px;
}

hr {
    width: 80%;
}

#aboutme p {
    margin: 0px 10px 10px 10px;
} 

#projects {
    background: var(--bcg4);
}

#contact {
    background: var(--bcg5);
}

footer {
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    background: var(--bgc1);
}

footer p {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 2.5rem;
    text-shadow: var(--shadow);
}